<p>I am a Senior Researcher in the <a href="https://www.microsoft.com/en-us/research/group/robot-learning-group/"
    target="_blank">Robot Learning Group</a> of <a
href="https://www.microsoft.com/en-us/research/lab/microsoft-research-redmond/"
target="_blank">Microsoft Research, Redmond</a>, and I am affiliated with the <a
href="https://www.microsoft.com/en-us/research/theme/reinforcement-learning-group/"
target="_blank">MSR Reinforcement Learning Group</a>. I am a <i>practical
theoretician</i>, interested in developing theoretical foundations for designing
principled algorithms that can efficiently tackle real-world challenges. My
research studies learning efficiency, structural properties, and uncertainties
in sequential decision making, especially in robotics problems. My recent works
focus on reinforcement learning, imitation learning, and lifelong learning.
Previously, I worked on online learning, Gaussian processes, and integrated
motion planning and control.

<!-- My research is built on machine learning, optimization, and control
theories. My current focus concerns learning efficiency, structural properties,
and uncertainties in sequential decision making. Specific topics include
reinforcement learning, imitation learning, online learning, meta learning,
(large-scale) Gaussian processes, and integrated motion planning and control.
</p> -->

<p>I received PhD in Robotics from <a href="https://www.gatech.edu"
target="_blank">Georgia Tech</a> in 2020, where I was advised by <a
href="https://homes.cs.washington.edu/~bboots/" target="_blank">Byron Boots</a>
at <a href="https://research.gatech.edu/robotics" target="_blank">Institute for
Robotics and Intelligent Machines</a>. During my PhD study, I interned at <a
href="https://www.microsoft.com/en-us/research/lab/microsoft-research-redmond/"
target="_blank">Microsoft Research AI</a>, Redmond, in Summer 2019, working with
<a href="https://alekhagarwal.net" target="_blank">Alekh Agarwal</a> and <a
href="https://www.microsoft.com/en-us/research/people/akolobov/"
target="_blank">Andrey Kolobov</a>; at <a
href="https://www.nvidia.com/en-us/research/" target="_blank">Nvidia
Research</a>, Seattle, in Summer 2018, working with <a
href="https://www.nathanratliff.com" target="">Nathan Ratliff</a> and <a
href="https://homes.cs.washington.edu/~fox/" target="_blank">Dieter Fox</a>.</p>

<p>Before Georgia Tech, I received from <a href="https://www.ntu.edu.tw"
target="_blank">National Taiwan University</a> (NTU) my M.S. in Mechanical
Engineering in 2013, and double degrees of B.S. in Mechanical Engineering and
B.S. in Electrical Engineering in 2011. During that period, I was advised by <a
href="http://www.me.ntu.edu.tw/main.php?mod=adv_custom_page&func=show_page&site_id=0&page_id=200"
target="_blank">Han-Pang Huang</a>, who directs NTU Robotics Laboratory, and my
research included learning dynamical systems, force/impedance control, kernel
methods, and approximation theory &ndash; with applications ranging from
manipulator, grasping, exoskeleton, brain-computer interface, to humanoid.</p>

<p>I was fortunately awarded with Outstanding Paper Award, Runner-Up (ICML 2022), Best Paper Award (OptRL Workshop @ NeurIPS
2019), Best Student Paper & Best Systems Paper, Finalist (RSS 2019), Best
Paper (AISTATS 2018), Best Systems Paper, Finalist (RSS 2018), <a
href="https://www.nvidia.com/en-us/research/graduate-fellowships/"
target="_blank">NVIDIA Graduate Fellowship</a>, and <a
href="https://research.google/outreach/phd-fellowship/" target="_blank">Google
PhD Fellowship</a> (declined).</p>

<!-- <p class="text-danger">We're currently <a href="https://careers.microsoft.com/us/en/job/1485566/Research-Intern-Robot-Learning-Group?fbclid=IwAR01_XwkO84wYyxed0WyA5eSXUV5aV28F5DdmrznicczlFJl4h8M49ILL_E"
    target="_blank" class="text-light bg-danger">hiring interns</a>  for robot learning. Please apply if you're interested.
</p> -->