{% extends "base.html" %}{% block content %}
<div class="container py-4">
  <div class="row">
      <div class="ml-auto col-5 col-md-4 offset-md-1 col-lg-3 mb-3">
        <p><img class="img img-fluid" style="width: 100%; height: auto" src="{{ url_for('static', filename='images/ching-an-cheng.jpg') }}" alt=""/></p>
        <p><a href="/docs/ching-an-cheng-cv.pdf" target="_blank"><i class="fa fa-file"></i> CV</a></p>
        <p><a href="https://scholar.google.com/citations?user=bMZFLZ_V4goC&hl=en" target="_blank"><i class="ai ai-google-scholar-square"></i> Google Scholar</a></p>
      </div>
      <div class="mr-auto col-12 col-md-7 col-lg-7 mb-3 text-justify">
        {% include "bio.html" %}
      </div>
  </div>
</div>

{% for category, pubs, color in publications %}
{% if color == 0 %}
<section class="bg-color-a">
{% else %}
<section class="bg-color-b">
{% endif %}
  <div class="container py-0 mb-2">
      <div class="ml-auto mr-auto col-12 col-md-10 col-lg-10">
        <h3 class="pub">{{ category }}</h3>
        {% include "publications.html" %}
        </br>
      </div>
  </div>
</section>
{% endfor %}
{% endblock content %}
