section {
    margin-bottom: -1rem;
    margin-top: 0rem;
}

p.pub {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

h3.pub {
    padding-top: 1.5rem;
    font-size: 24px;
}

a {
    color: #598055;
}

a:hover {
    color: #598055;
}

b.pubstitle {
    color: #598055;
}

.pubsnote{
    color: #de4269;
}

.navbar {
    background-color: #8baa98;
}

.bg-color-a {
    background-color: #f7f7f7;
}

.bg-color-b {
    background-color: #ffffff;
}